body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

.carousel-item {
    transition: transform 0.5s ease;
}

.card {
    border: none;
    margin: 0 10px;
}

.card-title {
    font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(1);
}


footer {
    background-color: #f8f9fa;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
  }