body {
    animation: fadeIn 120ms ease-in-out; /* Fade-in over 1 second */
    opacity: 1; /* Ensure full visibility after animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

.carousel-item {
    transition: transform 0.5s ease;
}

.card {
    border: none;
    margin: 0 10px;
}

.card-title {
    font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(1);
}


footer {
    background-color: #f8f9fa;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
  }

  .image-container{
    overflow: hidden;
  }

  .card-img-top{
    height: 10rem;
    width: auto;
  }

.carousel-inner{
    padding: 2rem 0;
}

.carousel{
    min-height: 32rem;
    padding-top: 2rem;
}

#card{
    box-shadow: 0px 1px 15px;
}

.about{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;
    background-color: #f8f9fa;
}

.about-img{
    max-height: 25rem;
    width: 100%;
    padding-top: 3rem
}

.hidden{
    display: none !important;
}

.container{
    min-height: 75vh;
}

/*#footer{}*/

@media (max-width: 576px) {
    .about{
        flex-direction: column;
    }
    
    .carousel-item .row > div {
        display: none;
      }
    
      .carousel-item .row > div:nth-child(1) {
        display: block;
        max-width: 17rem;
      }
}

@media (min-width: 577px) and (max-width: 768px) {
    .carousel-item .row > div {
      display: none; /* Hide all cards */
    }
  
    .carousel-item .row > div:nth-child(1),
    .carousel-item .row > div:nth-child(2) {
      display: block; /* Show the first two cards */
    }
  }